
@{
    ViewData["Title"] = "Index";
}

<div>
    
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Taxes are not fun! but we can help below !</h1>
        <h2><a asp-controller="Tax" asp-action="Tax">Taxes</a> click here to eval your taxes.</h2>
    </div>
</div>



