
@{
    ViewData["Title"] = "Index";
}



<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Your Budgets.</h1>
        <h2><a asp-controller="Budget" asp-action="Budget">Create Budget</a> </h2>
        <h2><a asp-controller="Budget" asp-action="Budgets">See Budgets</a></h2>
    </div>
</div>