@{
    ViewData["Title"] = "Privacy Policy";
}


<p>Use this page to detail your site's privacy policy.</p>
<p>we wil not use your information</p>
<ul>
    <li>to sell to others </li>
    <li>to spy on your data</li>
    <li>to sell you any products based upon your entries</li>
    <li>we also do not store cookies</li>
</ul>
